@import './blocks/header.scss';
@import './blocks/product-card.scss';
@import './blocks/customer-reviews.scss';
@import './blocks/blogs.scss';
@import './blocks/questions-answers.scss';
@import './variables.scss';

.page__body {
  width: 1440px;
  margin: 0 auto;
  font-family: circular_stdbook;
}
