$header-top-bg-color: #CFBEAE;
$header-top-text-color: #353535;
$search-bg-color: #F9F7F4;
$search-filter-bg: #F0ECE5;
$header-search-button: #AD9681;
$main-back-text: #808080;
$main-back-link: #7F7F7F;
$details-border: #ECE8DF;
$extra-info-button-bg: #3C4043;
$product-details-item-text: #6C7175;
$product-info-art-text: #B4B4B4;
$product-grid-length-button: #5F4D3C;
$white-color: #FFF;
$add-to-card-minus-bg: #DCCDC0;
$description-p-text: #808080;
$customer-review-title: #1D1D1D;
$qan-border-color: #EAEAEA;