@import '../variables.scss';

.header {
  &__top {
    display: flex;
    justify-content: space-around;
    padding: 6px 0;
    background-color: $header-top-bg-color;

    color: $header-top-text-color;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
  }

  &__medium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 127px;

    &__search {
      display: flex;
      height: 40px;
    }
  }

  &__nav {
    background-color: $search-bg-color;
  }
}

.main__nav {
  display: flex;
  justify-content: center;
  gap: 28px;

  &__item {
    padding: 13px 0;
  }

  &__link {
    text-decoration: none;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    color: $header-top-text-color;
  }
}

.search {
  width: 420px;
  border: none;
  background-color: $search-bg-color;
  border-radius: 2px 0px 0px 2px;
  padding: 12px;
  
  &:focus {
    outline: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    background-color: $header-search-button;
    border-radius: 0px 2px 2px 0px;
    padding: 13px;
    border: none;
  }
  
  &::placeholder {
    font-family: circular_stdbook;
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;
    color: $header-top-text-color;
  }

  &__filter {
    display: flex;
    align-items: center;
    width: 180px;
    background-color: $search-filter-bg;

    &__item {
      font-weight: 450;
      font-size: 12px;
      line-height: 15px;
      display: inline-block;
      padding: 12px 0 12px 8.5px;

      &__arrow {
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        margin-left: 129px;
      }
    }
  }
}

.header__user__icons {
  display: flex;
  align-items: center;

  &__link:first-child {
    padding-right: 20px;
  }
}

.social__links {
  display: flex;
  gap: 8px;
}

.change__language {
  padding-left: 21px;
  font-size: 10px;
  line-height: 14px;
  position: relative;
  cursor: pointer;

  &::after {
    display: inline-block;
    position: absolute;
    top: -2px;
    content: ">";
    padding-left: 5px;
    rotate: (90deg);
  }
}

.order__call {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 165%;
  text-decoration: none;
  color: $header-top-text-color;

  &__img {
    padding-right: 6px;
  }
}

.top {
  &__info {
    display: flex;

    &:last-child {
      padding-right: 0;
    }

    &__item {
      display: flex;
      align-items: center;
      padding-right: 50px;

      &__text {
        padding-left: 4px;
      }
    }
  }

  &__addition__info {
    display: flex;
    align-items: center;
  }
}