.back__container {
  margin: 42px 0;
  display: flex;
  padding: 0 127px;
  font-weight: 300;
  font-size: 12px;
  line-height: 165%;

  &__link {
    font-family: circular_stdmedium;
    color: $main-back-link;
    text-decoration: underline;
    padding-left: 2px;
  }

  &__text {
    color: $main-back-text;
  }
}

.product__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 68px;

  &__title {
    font-family: johnston_itc_stdmedium;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: $header-top-text-color;
  }

  &__carousel {
    padding-left: 127px;
  }
}

.carousel {
  width: 642px;

  &__additional__img {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 24px;
  }
  
  &__small__img {
    width: 100%;
    height: 100%;
    
    &__container {
      width: 90px;
      height: 90px;
    }
  }

  &__button {
    border: none;
    background: $white-color;
    font-family: 'circular_stdbook';
    cursor: pointer;
  }
}

.details {
  width: 642px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 48px;
  margin-left: 127px;
  padding: 20px 0 20px 0;
  border-top: 1px solid $details-border;
  border-bottom: 1px solid $details-border;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 20px 0;

    &__item {
      display: flex;
      color: $product-details-item-text;
      font-weight: 450;
      font-size: 12px;
      line-height: 165%;

      &__img {
        padding-right: 10px;
      }
    }
  }
}

.extra__info {
  margin-top: 26px;
  margin-left: 127px;

  &__items {
    display: flex;
    width: 425px;
    flex-wrap: wrap;
    gap: 6px;
    padding-top: 13px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    background-color: $extra-info-button-bg;
    color: $white-color;
    border-radius: 3px;
    border: none;
    padding: 12px;
    cursor: pointer;

    &__img {
      padding-left: 6.5px;
    }
  }
}

.main__info {
  padding-bottom: 30px;

  &__title {
    font-family: johnston_itc_stdmedium;
    color: $header-top-text-color;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
  }

  &__color {
    display: flex;
    gap: 4px;
    font-weight: 450;
    font-size: 15px;
    line-height: 165%;
    color: black;
  }

  &__choose__color {
    display: flex;
    gap: 8px;
    padding-top: 12px;
    padding-bottom: 20px;
    align-items: center;

    &__img {
      height: 100%;
      width: 100%;
    }

    &__container {
      height: 30px;
      width: 30px;

      &__active {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 35px;
        width: 35px;

        &__text {
          font-style: normal;
          font-weight: 450;
          font-size: 12px;
          line-height: 165%;
          color: $product-details-item-text;
          padding-top: 4px;
        }
      }
    }

  }

  &__art {
    color: $product-info-art-text;
    font-weight: 450;
    font-size: 12px;
    line-height: 120%;
    padding: 9px 0;
  }

  &__price {
    font-family: johnston_itc_stdmedium;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    padding-bottom: 34px;
  }

  &__grid__length {
    padding-top: 20px;

    &__button {
      font-family: circular_stdbook;
      color: $product-grid-length-button;
      background: $white-color;
      border: 1px solid $details-border;
      border-radius: 3px;
      padding: 11px 9px;

      &__container {
        display: flex;
        gap: 9px;
        padding-bottom: 34px;
      }

      &__configurator {
        display: flex;
        align-items: center;
        padding: 11px 11px;
        background-color: $extra-info-button-bg;
        border: none;
        border-radius: 3px;
        font-family: circular_stdbook;
        font-weight: 450;
        font-size: 12px;
        line-height: 120%;
        color: $white-color;

        &__text {
          padding-left: 6px;
        }
      }

      &__active {
        color: $white-color;
        background-color: $product-grid-length-button;
        padding: 11px 13px;
      }
    }

    &__title {
      font-weight: 450;
      font-size: 12px;
      line-height: 165%;
      color: $product-details-item-text;
      padding-bottom: 9px;
    }
  }
}

.add__to__card {
  display: flex;
  gap: 11px;

  &__counter {
    width: 100px;
    height: 37px;
    display: flex;
    border: 1px solid $header-search-button;
    border-radius: 3px;
    justify-content: space-between;
  
    &__minus,
    &__plus {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33px;
      background-color: $add-to-card-minus-bg;
      color: $white-color;
      font-size: 25px;
    }

    &__plus {
      background-color: $header-search-button;
    }
  
    &__quantity {
      width: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      font-size: 12px;
      line-height: 120%;
      color: $product-details-item-text;
    }
  }

  &__button {
    padding: 11px 84px;
    background-color: $header-search-button;
    border: none;
    border-radius: 2px;
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;

    color: $white-color;
  }
}

.why__us {
  padding-bottom: 20px;

  &__item {
    display: flex;
    gap: 6px;
    font-weight: 450;
    font-size: 12px;
    line-height: 165%;
    color: $product-details-item-text;
    padding-bottom: 10px;
  }
}

.description {
  
  &__title {
    padding-bottom: 13px;
  }

  &__text {
    font-weight: 450;
    font-size: 12px;
    line-height: 165%;
    color: $description-p-text;
    padding-bottom: 50px;
    margin-right: 180px;

    &__single {
      padding-bottom: 32px;
    }
  }
}

.email__us {
  display: flex;
  border-bottom: 1px solid $details-border;
  padding-bottom: 32px;
  margin-right: 180px;

  &__input {
    width: 279px;
    border-radius: 2px 0px 0px 2px;
    
    &::placeholder {
      color: $description-p-text;
      font-weight: 450;
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__button {
    font-family: circular_stdbook;
    padding: 11px 9px;
    background-color: $header-search-button;
    border: none;
    border-radius: 0px 2px 2px 0px;
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;

    color: $white-color;
  }
}

.contact__us {
  display: flex;
  gap: 32px;
  padding: 32px 0;
  border-bottom: 1px solid $details-border;
  margin-right: 180px;

  &__info {

    &__title {
      color: $header-top-text-color;
      padding-bottom: 8px;
    }

    &__quote {
      font-family: johnston_itc_stdmedium;
      padding-bottom: 18px;

      &__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        color: $header-top-text-color;
        padding-bottom: 6px;
      }

      &__author {
        font-weight: 700;
        font-size: 9px;
        line-height: 120%;
        color: $product-details-item-text;

        &__pos {
          font-weight: 500;
        }
      }
    }
  }

  &__phone,
  &__email {
    display: flex;
    gap: 8px;
    padding-bottom: 10px;
  }

  &__link {
    color: $product-details-item-text;
    text-decoration: none;
    font-weight: 450;
    font-size: 12px;
    line-height: 165%;
  }
}

.share {
  display: flex;
  padding-top: 18px;

  &__text {
    padding-right: 15px;
    font-weight: 450;
    font-size: 12px;
    line-height: 165%;
    color: $product-details-item-text;
  }

  &__links {
    display: flex;
    gap: 8px;
  }
}