.questions__answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  padding: 75px 127px 75px 160px;
  margin-bottom: 60px;
  background: $search-bg-color;
  color: $header-top-text-color;

  &__title {
    font-family: johnston_itc_stdmedium;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    padding-bottom: 28px;
  }
}

.dropdown {
  border-bottom: 1px solid $qan-border-color;
  padding: 16px 0; 

  &__trigger { 
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-family: circular_stdmedium;
    font-weight: 500;
    font-size: 12px;
    line-height: 165%;
    padding-bottom: 6px;


    &::after {
    content: ">";
    display: inline-block;
    transform: rotate(90deg) scale(0.5, 1);
    font-weight: bold;
    transition: transform 0.3s;
    }

    &__active::after {
      transform: rotate(-90deg) scale(0.5, 1);
    }
  }

  &__content {
    display: none;
    font-weight: 450;
    font-size: 12px;
    line-height: 165%;
    color: $description-p-text;

    &__active {
      display: flex;
    }
  }
}